

*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  background-color: #2e2e2f;
}
header{
  background-image: url("src/Assets/header-bg.png");
  height: 13em;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-blend-mode: difference;
  filter: opacity(0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}
